---
layout: default
---

<div class="team">
  <h2 class="section-heading">Our Team</h2>
  {% for member in site.data.team-members %}
      <div class="team-member">
        <a href="{{ member.linkedin }}/">
          <img class="img-circle" src="/images/{{ member.image }}" />
        </a>
        <h4>{{ member.name }}</h4>
        <p class="text-muted">{{ member.title }}</p>
        <p class="text-muted">{{ member.about }}</p>
        <p>
          {% if member.email %}<a href="mailto:{{ member.email }}"><i class="svg-icon email"></i></a>{% endif %}
          {% if member.linkedin %}<a href="{{ member.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
          {% if member.twitter %}<a href="http://twitter.com/{{ member.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
          {% if member.facebook %}<a href="http://facebook.com/{{ member.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
          {% if member.dribble %}<a href="http://dribbble.com/{{ member.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
          {% if member.flickr %}<a href="http://flickr.com/{{ member.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
          {% if member.github %}<a href="http://github.com/{{ member.github }}"><i class="svg-icon github"></i></a>{% endif %}
          {% if member.instagram %}<a href="http://instagram.com/{{ member.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
          {% if member.pinterest %}<a href="http://pinterest.com/{{ member.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
          {% if member.rss %}<a href="{{ member.blog }}/feed.xml"><i class="svg-icon rss"></i></a>{% endif %}
          {% if member.stackoverflow %}<a href="http://stackoverflow.com/{{ member.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
          {% if member.youtube %}<a href="http://youtube.com/{{ member.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
        </p>
      </div>
  {% endfor %}
</div>
